        <html>
            <br><p>
              <div class="app-bar red" data-role="appbar" >
                    <a class="app-bar-element branding"><span class="mif-widgets fg-white"></span></a>
                    <span class="app-bar-divider"></span>
                    <ul class="app-bar-menu">
                         
                        <li><a href=""> {{hallo}} {{nama}}</a></li>
                        </li>
                    </ul>
                    <div class="app-bar-element place-right">
                        <a href ="" class="fg-white"><span class=""></span> </a>
                       
                    </div>
                </div>
     <head>
    <br><br>
           <div class="example" >
            <div class="grid">
                <div class="row cells2">
                    <div class="cell">
                        <label>Nama Inventaris</label>
                        <div class="input-control text full-size">
                            <input name="nama" type="text" ng-model="model.nama">
                        </div>
                    </div>
                    <div class="cell">
                        <label>Jumlah Inventaris</label>
                        <div class="input-control text full-size">
                           <input name="jumlah" class="input-lg" type="text" ng-model="model.jumlah">
                        </div>
                    </div>
                </div>
            </div>
         </div>
       
           
                    <center><button class="button info" ng-click="simpan(model)" style="width:20%">Simpan</button>
                    <button class="button primary" ng-click="tampilkanData()" style="width:20%">Segarkan</button>
                    </center>

           </div> 
           <br><br>
           <div class="padding10 bg-red fg-white margin10 no-margin-right no-margin-left align-center">
              Semua Data Inventaris</div>
               </center>
            <table class="table border bordered hovered cell-hovered">
                <thead>
             
            <table class="table border bordered sortable-markers-on-left">
                <thead>
                <tr>
                    <th class="sortable-column ">Nama Inventaris</th>
                    <th class="sortable-column">Jumlah Inventaris</th>
                    <th class="sortable-column sort-asc">Aksi</th>
                </tr>
                </thead>
                <tbody>
                 <tr ng-repeat="dafin in data">
                    <td>{{dafin.nama}}</td>
                       <td>{{dafin.jumlah}}</td>
                       <td><button class="button loading-cube" ng-click="hapusData(dafin.id)">Hapus</button>
                           <button class="button primary" ng-click="editData(dafin)">Edit</button></td>
                   </tr>
                
                </tbody>
            </table>  
        </div>
   

        </div>
        

        
        </html>         
       