<br><br>
<button class="button loading-pulse lighten primary" ng-click="tampilkanData()" style="width:30%">Segarkan</button>
 </div> 
<div class="padding10 bg-red fg-white margin10 no-margin-right no-margin-left align-center">
              Semua Data Inventaris</div>
               </center>
            <table class="table border bordered hovered cell-hovered">
                <thead>
             
            <table class="table border bordered sortable-markers-on-left">
                <thead>
                <tr>
                    <th class="sortable-column ">Nama Inventaris</th>
                    <th class="sortable-column">Jumlah Inventaris</th>
                    
                </tr>
                </thead>
                <tbody>
                 <tr ng-repeat="dafin in data">
                    <td>{{dafin.nama}}</td>
                       <td>{{dafin.jumlah}}</td>
                   </tr>
                
                </tbody>
            </table>  
        </div>
   

        </div>